# next.js
/.next/
/.yarn/
.pnp.*
#.github/

# dependencies
/node_modules
pnpm-lock.yaml
package-lock.json
yarn.lock

# output
/out/

# obsidian
pages/assets/**
pages/.obsidian/**
pages/.trash/**

# Mac
.DS_Store