@tailwind base;
@tailwind components;
@tailwind utilities;

/*@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");*/
/*@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");*/

@import url("https://fonts.cdnfonts.com/css/comic-neue");

/*@import url("https://webfontworld.github.io/kyobobook/KyoboHandwriting2019.css");*/

@font-face {
  font-family: "KyoboHandwriting2019";
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kyobobook/KyoboHandwriting2019.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kyobobook/KyoboHandwriting2019.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kyobobook/KyoboHandwriting2019.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kyobobook/KyoboHandwriting2019.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kyobobook/KyoboHandwriting2019.ttf")
      format("truetype");
  font-display: swap;
}

:root {
  --font-strong-color: darkslateblue;
}
.dark {
  --font-strong-color: skyblue;
}

body {
  font-family: "Comic Neue", "KyoboHandwriting2019";
}
/*@media (prefers-color-scheme: dark) {
  body {
    --font-color: white;
  }
}*/

/* 일반 텍스트 스타일 */
.nextra-content p,
.nextra-content li {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

.nextra-content strong {
  color: var(--font-strong-color);
}

/* inline code 스타일 */
.nextra-content p code,
.nextra-content li code {
  font-family: "Comic Neue", "KyoboHandwriting2019";
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.03rem;
}

.nextra-nav-container img {
  position: absolute;
  top: -0.5rem;
}
.nextra-nav-container .nextra-focus {
  padding: 0 0.5rem 0 0.5rem;
  font-size: 1.125rem;
}

img {
  margin-top: 1.2rem;
  margin-bottom: 1rem;
}
/* image center align */
img[alt*="center"],
img[alt*="centre"] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img[alt*="200"] {
  width: 200px;
}
img[alt*="250"] {
  width: 250px;
}
img[alt*="300"] {
  width: 300px;
}
img[alt*="400"] {
  width: 400px;
}
img[alt*="450"] {
  width: 450px;
}
