@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap");
@import url("https://webfontworld.github.io/kyobobook/KyoboHandwriting2019.css");

/*@font-face {
  font-family: "KyoboHandwriting2019";
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kyobobook/KyoboHandwriting2019.eot");
  src: url("https://cdn.jsdelivr.net/gh/webfontworld/kyobobook/KyoboHandwriting2019.eot?#iefix")
      format("embedded-opentype"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kyobobook/KyoboHandwriting2019.woff2")
      format("woff2"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kyobobook/KyoboHandwriting2019.woff")
      format("woff"),
    url("https://cdn.jsdelivr.net/gh/webfontworld/kyobobook/KyoboHandwriting2019.ttf")
      format("truetype");
  font-display: swap;
}*/

body {
  font-family: "Comic Neue", "KyoboHandwriting2019";
}
/*@media (prefers-color-scheme: dark) {
  body {
    --font-color: white;
  }
}*/

/* 일반 텍스트 스타일 */
.nextra-content p,
.nextra-content li {
  font-size: 1.1rem;
  font-weight: 400;
  line-height: 1.8rem;
}

/* inline code 스타일 */
.nextra-content p code,
.nextra-content li code {
  font-family: "Comic Neue", "KyoboHandwriting2019";
  font-size: 1.125rem;
  font-weight: bold;
  letter-spacing: 0.03rem;
}
nav {
}
nav.nx-flex {
  /*display: inline-flex;
  width: 100%;*/
}

/* Target the navbar container */
nav.nx-flex.nx-items-center.nx-mx-auto {
  /*margin-top: -0.1rem;*/
}

nav.nx-flex.nx-items-center .nx-block {
  margin-left: 1.75rem;
}
nav.nx-flex.nx-items-center a.nx-text-sm {
  margin: 0 1rem 0 1rem;
  padding: 0.4rem 0 0 0;
  font-size: 1.125rem;
}
